# Prevent GitHub from detecting HCL
*.hcl linguist-detectable=false
*.tf linguist-detectable=false

# Ensure correct language detection
*.js linguist-language=JavaScript
*.ts linguist-language=TypeScript
*.md linguist-documentation

# If specific files are being misdetected, you can exclude them
.editorconfig linguist-language=INI
