site_name: "CodeMachine CLI Documentation"
site_url: "https://docs.codemachine.co/"
repo_url: "https://github.com/moazbuilds/CodeMachine-CLI"
repo_name: "moazbuilds/CodeMachine-CLI"

theme:
  name: material
  features:
    - navigation.tabs     
    - navigation.indexes  
    - navigation.top      
    - navigation.tracking 
    - search.suggest      
    - search.highlight    
    - content.code.copy   

  palette:
      - scheme: default
        primary: white
        accent: black 
        toggle:
          icon: material/brightness-7
          name: Switch to dark mode
      - scheme: slate
        primary: black
        accent: white
        toggle:
          icon: material/brightness-4
          name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono

extra:
  version:
    provider: mike



markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.superfences

  
plugins:
  - search

  - mkdocstrings:
      handlers:
        # This handler will process your TypeScript files
        typescript:
          tsconfig: "./tsconfig.json"
          paths: ["src"]